mat-card {
  max-width: 90%;
  margin: 2em auto;
  text-align: center;
  align-items: center;
}

div {
  width: 100px;
  height: 100px;
  display: inline-block;
}

button {
  text-align: center;
  margin: 0 15px;
}

.full-width {
  width: 100%;
}

.min-width {
  width: 100%;
  min-width: 150px  ;
}
