<h1>Editar Empresa</h1>

<div class="well">
  <form #formEmpresa="ngForm">
        <div class="form-group">
            <label for="chave">CNPJ:</label>
            <input type="text" class="form-control" id="cnpj" name="cnpj"
                [(ngModel)]="empresa.cnpj"
                #cnpj="ngModel"
                numerico
                minlength="2" maxlength="14" required>
            <div *ngIf="cnpj.errors && (cnpj.dirty || cnpj.touched)"
                class="alert alert-danger">
                <div [hidden]="!cnpj.errors['required']">
                  Digite o CNPJ da Empresa com 14 posições numéricas.
                </div>
                <div [hidden]="!cnpj.errors['maxlength']">
                  O CNPJ deve conter no maximo 14 caracteres.
                </div>
            </div>
        </div>

        <div class="form-group">
          <label for="nome">Nome:</label>
          <input type="text" class="form-control" id="nome" name="nome"
                [(ngModel)]="empresa.nome"
                #nome="ngModel"
                minlength="2" required>
          <div *ngIf="nome.errors && (nome.dirty || nome.touched)"
                class="alert alert-danger">
                <div [hidden]="!nome.errors['required']">
                  Digite o Nome da Empresa.
                </div>
                <div [hidden]="!nome.errors['minlength']">
                  O Nome deve conter ao menos 2 caracteres.
                </div>
          </div>
        </div>

        <div class="form-group">
           <button type="button" class="btn btn-primary"
              (click)="atualizar()"
              [disabled]="!formEmpresa.form.valid">
              <i class="fa fa-save" aria-hidden="true"></i> Atualizar
           </button>
           <a class="btn btn-secondary"
               [routerLink]="['/empresas']">
               <i class="fa fa-arrow-left" aria-hidden="true"></i> Voltar
           </a>
        </div>
    </form>
</div>
